.Data { margin: 0.5em 1em; }
.Data table {
  margin: auto;
  border: 3px solid #f0f0f0;
}
.Data table caption {
  font-weight: bold;
  font-size: 1.3em;
  padding: 0.3em 0.5em;
}
.Data table thead { text-align: center; }
.Data table td, .Data table th {
  padding: 0.2em 0.3em;
}
.Data table tbody td {
  border-top: 1px solid #f0f0f0;
}
.Data table tbody td:nth-child(2) {
  text-align: right;
}
